<body>
  <app-header></app-header>

  <div class="container" id="cardsContainer">

    <div class="row">
      <div class="col">
        <div class="card">
          <img src="/assets/images/people.png" class="card-img-top">
          <div class="card-body">
            <a class="card-text stretched-link" href="utilisateurs">Gérer les utilisateurs</a>
          </div>
        </div>
      </div>


      <div class="col">
        <div class="card">
          <img src="/assets/images/checklist.png" class="card-img-top">
          <div class="card-body">
            <a class="card-text stretched-link" href="tests">Gérer les tests</a>
          </div>
        </div>
      </div>


      <div class="col">
        <div class="card">
          <img src="/assets/images/quiz.png">
          <div class="card-body">
            <a class="card-text stretched-link" href="qcms">Gérer les qcm</a>
          </div>
        </div>
      </div>
    </div>
  </div>


</body>
