<body>
  <app-header></app-header>

  <div class="container" id="titreContainer">
    <h5>Créer un test</h5>
  </div>

  <div class="container" id="formContainer">

    <form (ngSubmit)="onSubmit()">

      <div class="form-group">
        <label for="titre">Titre</label>
        <input type="text" class="form-control" id="titre" [(ngModel)]="titre" [ngModelOptions]="{standalone: true}">
      </div>

      <div class="form-group">
        <label>Sélectionnez un Qcm</label>
        <select class="form-select" [(ngModel)]="qcmId" [ngModelOptions]="{standalone: true}">
          <option *ngFor="let qcm of qcmListe$" [value]="qcm.id">{{qcm.titre}}</option>
        </select>
      </div>

      <div class="form-group">
        <label>Sélectionnez un candidat</label>
        <select class="form-select" [(ngModel)]="candidatId" [ngModelOptions]="{standalone: true}">
          <option *ngFor="let candidat of candidatsListe$" [value]="candidat.id">{{candidat.firstName + " " + candidat.lastName}}</option>
        </select>
      </div>

      <button class="btn btn-success" id="submitTest">Créer le test</button>

    </form>

  </div>
</body>
