<body>
  <app-header></app-header>


  <div class="container" id="titreContainer">
    <h5>Voir / Modifier une question</h5>
  </div>

  <div class="container" id="questionContainer">
    <form>
      <div class="form-group">
        <label for="questionTexte">Intitulé</label>
        <input type="text" class="form-control" id="questionTexte" name="questionTexte" [(ngModel)]="question$.texte">
      </div>

      <div class="form-group">
        <label>Qcm</label>
        <select class="form-select" [(ngModel)]="question$.qcm" [ngModelOptions]="{standalone: true}">
          <option selected>{{question$.qcm?.titre}}</option>
          <option *ngFor="let qcm of qcmList$" [ngValue]="qcm">{{qcm.titre}}</option>
        </select>
      </div>

      <div class="form-group" id="reponsesContainer">
        <label>Réponses</label>
        <table class="table table-hover" id="reponsesTable">
          <thead>
            <tr>
              <th *ngFor="let header of headers">{{header}}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let reponse of questionReponses$">
              <td><input type="text" class="form-control" [(ngModel)]="reponse.texte" [value]="reponse.texte"></td>
              <td>
                <select class="form-select" [(ngModel)]="reponse.correctAnswer" [ngModelOptions]="{standalone: true}">
                  <option selected>{{reponse.correctAnswer}}</option>
                  <option value="1">{{reponse.correctAnswer === true ? 'false' : 'true'}}</option>
                </select>
              </td>
              <td>
                <button class="btn btn-danger">Supprimer</button>
              </td>
            </tr>
          </tbody>
        </table>
        <label>Créer une réponse</label>
        <div class="form-group">
          <label for="reponseTexte">Intitulé</label>
          <input type="text" id="reponseTexte" class="form-control" [(ngModel)]="reponseTexte" [ngModelOptions]="{standalone: true}">
        </div>

        <div class="form-group">
          <label for="reponseStatus">Réponse correcte ?</label>
          <select name="correctReponseSelector" id="reponseStatus" class="form-select" [(ngModel)]="correctAnswer" [ngModelOptions]="{standalone: true}">
            <option value="true">Oui</option>
            <option value="false">Non</option>
          </select>
        </div>

        <button class="btn btn-success" (click)="addReponse()">Créer réponse</button>
      </div>

      <div class="row" id="buttonsContainer">
        <div class="col-md-auto">
          <button class="btn btn-warning" (click)="onUpdate(question$)">Modifier</button>
        </div>
        <div class="col-md-auto">
          <button class="btn btn-danger" (click)="deleteQuestion(question$.id)">Supprimer</button>
        </div>
      </div>

    </form>
  </div>

</body>
