<body>
  <app-header></app-header>


  <div class="container" id="titreContainer">
    <h5>Créer un Qcm</h5>
  </div>

  <div class="container" id="formContainer">
    <form>
      <div class="form-group">
        <label for="qcmTitre">Titre</label>
        <input type="text" class="form-control" id="qcmTitre" [(ngModel)]="qcmTitre" [ngModelOptions]="{standalone: true}">
      </div>

      <div class="form-group" id="questionsContainer">
        <label>Questions</label>
        <div class="container" id="questionsGridContainer">
          <div class="row" *ngFor="let questionDto of qcmQuestions$, let i = index">
            <div class="col-md-auto">
              {{questionDto.id}}
            </div>
            <div class="col-md-auto">
              <button class="btn btn-danger">Supprimer</button>
            </div>
          </div>
        </div>
      </div>

      <div class="form-group" id="questionsSelector">
        <label>Ajouter une question</label>
        <select class="form-select" id="addQuestion" [(ngModel)]="questionId" [ngModelOptions]="{standalone: true}" (ngModelChange)="questionId = $event">
          <option *ngFor="let question of questionList$" [value]="question.id">{{question.texte}}</option>
        </select>
        <button class="btn btn-primary" (click)="addQuestion(questionId)">Ajouter</button>
      </div>



      <button class="btn btn-success" id="submitQcm" (click)="onSubmit()">Créer</button>

    </form>
  </div>


</body>
