<body>
  <app-header></app-header>

  <div class="container" id="titreContainer">
    <h5>Créer une nouvelle question</h5>
  </div>

  <div class="container" id="formContainer">
    <form (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="questionTexte">Intitulé</label>
        <input type="text" class="form-control" id="questionTexte" [(ngModel)]="texte" [ngModelOptions]="{standalone: true}">
      </div>

      <div class="form-group">
        <label for="questionPoints">Points</label>
        <input type="number" class="form-control" id="questionPoints" [(ngModel)]="points" [ngModelOptions]="{standalone: true}">
      </div>

      <div class="form-group">
        <label for="questionTemps">Temps limite</label>
        <input type="number" class="form-control" id="questionTemps" [(ngModel)]="tempsReponse" [ngModelOptions]="{standalone: true}">
      </div>


      <div class="form-select">
        <select name="qcmSelect" id="qcmSelector" [(ngModel)]="qcmId" [ngModelOptions]="{standalone: true}">
          <option *ngFor="let qcm of qcmList$" [value]="qcm.id">{{qcm.titre}}</option>
        </select>
      </div>

      <!-- implémenter réponses !-->


      <button class="btn btn-success" id="submitQuestion">Créer</button>

    </form>

  </div>
</body>
