<body>
  <app-header></app-header>

  <div class="container" id="titreContainer">
    <h5>Créer un nouveau candidat</h5>
  </div>

  <div class="container" id="formContainer">
    <form action="">
      <div class="form-group">
        <label for="firstname">Prénom</label>
        <input type="text" class="form-control" id="firstname">
      </div>

      <div class="form-group">
        <label for="lastname">Nom</label>
        <input type="text" class="form-control" id="lastname">
      </div>

      <div class="form-group">
        <label for="userlogin">Login</label>
        <input type="text" class="form-control" id="userlogin">
      </div>

      <div class="form-group">
        <label for="usermail">Adresse mail</label>
        <input type="email" class="form-control" id="usermail">
      </div>

      <div class="form-group">
        <label for="userpwd">Mot de passe</label>
        <input type="password" class="form-control" id="userpwd">
      </div>

      <div class="form-group">
        <label for="userdescription">Description</label>
        <input type="text" class="form-control" id="userdescription">
      </div>

      <button class="btn btn-success" id="submitcandidat">Créer le candidat</button>
    </form>
  </div>

</body>
