<body>
  <app-header></app-header>

  <div class="container" id="buttonsContainer">
    <a href="utilisateur/nouveau" class="btn btn-success" role="button">Créer</a>
    <a href="" class="btn btn-danger" role="button">Supprimer</a>
  </div>

  <div class="container" id="usersContainer">
    <table class="table table-bordered table-hover">
      <thead class="table-dark">
        <tr>
          <th *ngFor="let column of headers">
            {{column}}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let utilisateur of utilisateurList$">
          <td>{{utilisateur.userLogin}}</td>
          <td>{{utilisateur.role.denomination}}</td>
          <td>{{utilisateur.userDescription}}</td>
          <td>{{utilisateur.mailAddress}}</td>
          <td>{{utilisateur.globalScore}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</body>
