<body>
  <app-header></app-header>

  <div class="container" id="titreContainer">
    <h5>Liste des tests</h5>
  </div>

  <div class="container" id="buttonsContainer">
    <a href="creer/test" class="btn btn-success" role="button">Créer</a>
    <a href="" class="btn btn-danger" role="button">Supprimer</a>
  </div>

  <div class="container" id="testsContainer">
    <table class="table table-bordered table-hover">
      <thead class="table-dark">
        <tr>
          <th *ngFor="let column of testHeaders" class="text-center">
            {{column}}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let test of testList$" (click)="onTestClick(test.id)">
          <td>{{test.titre}}</td>
          <td>{{test.score}}</td>
          <td>{{test.utilisateur.userLogin}}</td>
          <td>{{test.alreadySubmitted}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</body>
