<body>
  <app-header></app-header>

  <div class="container" id="titreContainer">
    <h5>Voir / Modifier un utilisateur</h5>
  </div>

  <div class="container" id="formContainer">
    <form (ngSubmit)="onUpdate()" *ngIf="utilisateur$">
      <div class="form-group">
        <label for="firstname">Prénom</label>
        <input type="text" class="form-control" id="firstname" [(ngModel)]="utilisateur$.firstName" name="firstname">
      </div>

      <div class="form-group">
        <label for="lastname">Nom</label>
        <input type="text" class="form-control" id="lastname" [(ngModel)]="utilisateur$.lastName" name="lastname">
      </div>

      <div class="form-group">
        <label for="userlogin">Login</label>
        <input type="text" class="form-control" id="userlogin" name="userlogin" [(ngModel)]="utilisateur$.userLogin">
      </div>

      <div class="form-group">
        <label for="mailaddr">Adresse mail</label>
        <input type="text" class="form-control" id="mailaddr" name="mailaddr" [(ngModel)]="utilisateur$.mailAddress">
      </div>

      <div class="form-group">
        <label for="userpwd">Mot de passe</label>
        <input type="password" class="form-control" id="userpwd" placeholder="Remplir si modification" [(ngModel)]="utilisateur$.userPassword">
      </div>

      <div class="form-group">
        <label for="userdesc">Description</label>
        <input type="text" class="form-control" id="userdesc" name="userdesc" [(ngModel)]="utilisateur$.userDescription">
      </div>

      <div class="form-group">
        <label for="userscore">Pourcentage de réussite</label>
        <input type="text" class="form-control" id="userscore" name="userscore" [(ngModel)]="utilisateur$.globalScore" disabled readonly>
      </div>

      <!-- <div class="form-group">
        <label for="userrole">Rôle</label>
        <input type="text" class="form-control" id="userrole" name="userrole" [(ngModel)]="utilisateur$.role.denomination">
      </div> !-->

      <div class="form-group" id="rolesDiv">
        <label>Rôle</label>
        <select class="form-select" [(ngModel)]="utilisateur$.role.id" [ngModelOptions]="{standalone: true}">
          <option selected>{{utilisateur$.role.denomination}}</option>
          <option *ngFor="let role of rolesList$" [ngValue]="role.id" name="roleSelect">{{role.denomination}}</option>
        </select>
      </div>

      <div class="row" id="buttonsContainer">
        <div class="col-md-auto">
          <button class="btn btn-warning" id="modifierBtn">Modifier</button>
        </div>
        <div class="col-md-auto">
          <button class="btn btn-danger" (click)="deleteUser(utilisateur$.id)">Supprimer</button>
        </div>
      </div>

    </form>
  </div>

</body>
